.container {
  display: flex;
  align-items: center;
}

.bannerImg {
  background-image: url('../../assets/images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  filter: brightness(70%);
  width: 100%;
  padding: 12rem 0rem;
}

@media (max-width: 320px) {
  .bannerImg {
    padding: 8rem 0rem;
  }
}